.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.list-group {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.list-group-item {
  margin: 10px;
  text-align: center;
  flex-direction: column;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 215, 230, 0.32);
  position: relative; /* Ensure items can be positioned absolutely within this container */
}

.movie-image {
  width: 250px;
  height: 370px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.movie-details {
  text-align: left;
  margin-top: 10px;
  width: 100%;
  position: absolute; /* Position details absolutely */
  top: 100%; /* Position details below the image */
  left: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure the details are on top */
  display: none; /* Initially hide the details */
}

.movie-details_year {
  font-family: fantasy;
  font-size: 20px;
}
.movie-details_director {
  font-family: fantasy;
  font-size: 18px;
}

.list-group-item.expanded .movie-details {
  display: block; /* Show details when expanded */
}

.list-group-item.expanded .movie-image {
  transform: scale(1.05);
}

.btn-bin {
  height: 50px;
  font-size: 30px;
  width: 50px;
  border: none;
  margin-top: 5px;
}

.title-movies {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 10px;
}

.film-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn_details {
  margin-bottom: 10px;
}
