li{
    display: inline;
    margin-left: 20px;
}
i{
    margin-left: 20px;
}
.btn-danger {
    color: white;
    font-size: 18px;
    background-color: red;
  }
.nav-link, .navbar-brand{
    font-size: 25px;
}

