<h1 class="register-header">Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="login-form card">
  <div class="card-body">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="
        Enter your email"
      />
    </div>
    <div class="form-group">
      <label class="password" for="password">Password</label>
      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [type]="hidePassword? 'password': 'text'"
        />
        <div class="input-group-append">
          <span class="input-group-text" (click)="hidePassword = !hidePassword">
            <i class="fas fa-eye{{ hidePassword ? '-slash' : '' }}"></i>
          </span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </div>
</form>
