.login-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }

.btn-primary{
    margin-top: 20px;
    align-items: center;
}

.register-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

.form-control {
  margin-top: 10px;
}
.password{
  margin-top: 10px;
}
.input-group-append{
  margin-top: 15px;
}